.first-container {
    width: 100%;
    margin: 30px auto;

    .first-container__first-block {
        display: flex;
        justify-content: space-around;

        .first-container__header {
            font-family: 'Quicksand', sans-serif;
            font-size: 50px;
        }
    }

    .first-container__second-block {
        display: flex;
        
        .first-container__list {
            width: 200px;
            height: 50px;
            font-family: 'Quicksand', sans-serif;
            font-size: 20px;
            outline: none;
            background: -moz-linear-gradient(top, #ffffff, #bfc1d6); 
            background: -ms-linear-gradient(top, #ffffff, #bfc1d6); 
            background: -webkit-linear-gradient(top, #ffffff, #bfc1d6); 
            background: linear-gradient(top,#ffffff, #bfc1d6); 
            border: 2px solid #999; 
            border-radius: 3px; 
            box-shadow: 0 0 5px #999; 
            color: #111;  
            padding: 10px; 
            cursor: pointer;

            &:hover {
                background: -moz-linear-gradient(top,  #bfc1d6, #fff); 
                background: -ms-linear-gradient(top,  #bfc1d6, #fff); 
                background: -webkit-linear-gradient(top, #bfc1d6, #fff); 
                background: linear-gradient(top, #bfc1d6, #fff); 
            }
        }

        .first-container__button {
            width: 200px;
            height: 50px;
            font-family: 'Quicksand', sans-serif;
            font-size: 20px;
            outline: none;
            background: -moz-linear-gradient(top, #fff, #bfc1d6); 
            background: -ms-linear-gradient(top, #fff, #bfc1d6); 
            background: -webkit-linear-gradient(top, #fff, #bfc1d6); 
            background: linear-gradient(top,#fff, #bfc1d6); 
            border: 2px solid #999; 
            border-radius: 3px; 
            box-shadow: 0 0 5px #999; 
            color: #111;  
            padding: 10px; 
            cursor: pointer;
            margin-left: 30px;

            &:hover {
                background: -moz-linear-gradient(top,  #bfc1d6, #fff); 
                background: -ms-linear-gradient(top,  #bfc1d6, #fff); 
                background: -webkit-linear-gradient(top, #bfc1d6, #fff); 
                background: linear-gradient(top, #bfc1d6, #fff); 
            }
        }
    }
}

