.third-container {

    .modal {
        width: 100%;
        max-width: 700px;
        height: 640px;
        border: 1px solid #dee1e4;
        background-color: #fff;
        margin: 50px auto;
       
    }
    .third-container__header {
        background-color: #bfc1d6;
        height: 70px;
        
        p {
            text-align: center;
            font-family: 'Quicksand', sans-serif;
            font-size: 50px;
            color: #fff;
        }
    }

    .third-container__warning {
        background-color: #ebc6c6;
        color: #ff0000;
        height: 50px;
        font-size: 20px;
        font-family: 'Quicksand', sans-serif;
        .fa-times-circle {
            color: #ff0000;
            font-size: 30px;
            margin: 10px;
        }
    }
    
    .third-container__form {
        margin-left: 20px;
        margin-top: 50px;

        
        label:first-child {
            font-family: 'Quicksand', sans-serif;
            font-size: 30px;
            display: flex;
            margin-top: 30px;
    
            input[type=text] {
                width: 300px;
                height: 50px;
                font-family: 'Quicksand', sans-serif;
                font-size: 20px;
                outline: none;
                background: -moz-linear-gradient(top, #fff, #f5f5f5); 
                background: -ms-linear-gradient(top, #fff, #f5f5f5); 
                background: -webkit-linear-gradient(top, #fff, #f5f5f5); 
                background: linear-gradient(top,#fff, #f5f5f5); 
                border: 2px solid #999; 
                border-radius: 3px; 
                box-shadow: 0 0 5px #999; 
                color: #111;  
                padding: 10px; 
                cursor: pointer;
                margin-left: 30px;
    
                &:hover {
                    background: -moz-linear-gradient(top,   #f5f5f5, #fff); 
                    background: -ms-linear-gradient(top,   #f5f5f5, #fff); 
                    background: -webkit-linear-gradient(top,  #f5f5f5, #fff); 
                    background: linear-gradient(top,  #f5f5f5, #fff); 
                }  
            }
        }
    
        label:nth-child(2) {
            font-family: 'Quicksand', sans-serif;
            font-size: 30px;
            display: flex;
            margin-top: 30px;
    
            select {
                width: 300px;
                height: 50px;
                font-family: 'Quicksand', sans-serif;
                font-size: 20px;
                outline: none;
                background: -moz-linear-gradient(top, #fff, #f5f5f5); 
                background: -ms-linear-gradient(top, #fff, #f5f5f5); 
                background: -webkit-linear-gradient(top, #fff, #f5f5f5); 
                background: linear-gradient(top,#fff, #f5f5f5); 
                border: 2px solid #999; 
                border-radius: 3px; 
                box-shadow: 0 0 5px #999; 
                color: #111;  
                padding: 10px; 
                cursor: pointer;
                margin-left: 70px;
    
                &:hover {
                    background: -moz-linear-gradient(top,   #f5f5f5, #fff); 
                    background: -ms-linear-gradient(top,   #f5f5f5, #fff); 
                    background: -webkit-linear-gradient(top,  #f5f5f5, #fff); 
                    background: linear-gradient(top,  #f5f5f5, #fff); 
                }
            }
        }
    
        label:nth-child(3) {
            font-family: 'Quicksand', sans-serif;
            font-size: 30px;
            display: flex;
            margin-top: 30px;
            
            select {
                width: 300px;
                height: 50px;
                font-family: 'Quicksand', sans-serif;
                font-size: 20px;
                outline: none;
                background: -moz-linear-gradient(top, #fff, #f5f5f5); 
                background: -ms-linear-gradient(top, #fff, #f5f5f5); 
                background: -webkit-linear-gradient(top, #fff, #f5f5f5); 
                background: linear-gradient(top,#fff, #f5f5f5); 
                border: 2px solid #999; 
                border-radius: 3px; 
                box-shadow: 0 0 5px #999; 
                color: #111;  
                padding: 10px; 
                cursor: pointer;
                margin-left: 177px;
    
                &:hover {
                    background: -moz-linear-gradient(top,   #f5f5f5, #fff); 
                    background: -ms-linear-gradient(top,   #f5f5f5, #fff); 
                    background: -webkit-linear-gradient(top,  #f5f5f5, #fff); 
                    background: linear-gradient(top,  #f5f5f5, #fff); 
                }
            }
        }
    
        label:last-child {
            font-family: 'Quicksand', sans-serif;
            font-size: 30px;
            display: flex;
            margin-top: 30px;
    
            select {
                width: 300px;
                height: 50px;
                font-family: 'Quicksand', sans-serif;
                font-size: 20px;
                outline: none;
                background: -moz-linear-gradient(top, #fff, #f5f5f5); 
                background: -ms-linear-gradient(top, #fff, #f5f5f5); 
                background: -webkit-linear-gradient(top, #fff, #f5f5f5); 
                background: linear-gradient(top,#fff, #f5f5f5);  
                border: 2px solid #999; 
                border-radius: 3px; 
                box-shadow: 0 0 5px #999; 
                color: #111;  
                padding: 10px; 
                cursor: pointer;
                margin-left: 165px;
    
                &:hover {
                    background: -moz-linear-gradient(top,   #f5f5f5, #fff); 
                    background: -ms-linear-gradient(top,   #f5f5f5, #fff); 
                    background: -webkit-linear-gradient(top,  #f5f5f5, #fff); 
                    background: linear-gradient(top,  #f5f5f5, #fff); 
                }
            }
        }

    }

    .third-container__buttons {
        display: flex;
        justify-content:flex-end;
        margin-top: 70px;
        margin-bottom: 40px;

        button:first-child  {
            width: 150px;
            height: 50px;
            font-family: 'Quicksand', sans-serif;
            font-size: 20px;
            outline: none;
            background: -moz-linear-gradient(top, #fff, #bfc1d6); 
            background: -ms-linear-gradient(top, #fff, #bfc1d6); 
            background: -webkit-linear-gradient(top, #fff, #bfc1d6); 
            background: linear-gradient(top,#fff, #bfc1d6); 
            border: 2px solid #999; 
            border-radius: 3px; 
            box-shadow: 0 0 5px #999; 
            color: #111;  
            padding: 10px; 
            cursor: pointer;
            margin-right: 30px;
            

            &:hover {
                background: -moz-linear-gradient(top,  #bfc1d6, #fff); 
                background: -ms-linear-gradient(top,  #bfc1d6, #fff); 
                background: -webkit-linear-gradient(top, #bfc1d6, #fff); 
                background: linear-gradient(top, #bfc1d6, #fff);  
            }
        }

        button:last-child  {
            width: 150px;
            height: 50px;
            font-family: 'Quicksand', sans-serif;
            font-size: 20px;
            outline: none;
            background: -moz-linear-gradient(top, #fff, #bfc1d6); 
            background: -ms-linear-gradient(top, #fff, #bfc1d6); 
            background: -webkit-linear-gradient(top, #fff, #bfc1d6); 
            background: linear-gradient(top,#fff, #bfc1d6); 
            border: 2px solid #999; 
            border-radius: 3px; 
            box-shadow: 0 0 5px #999; 
            color: #111;  
            padding: 10px; 
            cursor: pointer;
            margin-right: 30px;
            

            &:hover {
                background: -moz-linear-gradient(top,  #bfc1d6, #fff); 
                background: -ms-linear-gradient(top,  #bfc1d6, #fff); 
                background: -webkit-linear-gradient(top, #bfc1d6, #fff); 
                background: linear-gradient(top, #bfc1d6, #fff); 
            }
        }
    }
}



#my_modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
}   


